<header class="page-head">
	
	<div class="logo-wrapper">
		<div class="logo icon-perezpriego"></div>
		<h1><a href="/" class="ident">{{ global.title }}</a></h1>
		<p>{{ global.intro }}</p>
	</div>
	<nav>
		
	</nav>
</header>